@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Shadows+Into+Light&family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&family=Sriracha&display=swap');

:root{
    --tit01:'Passion One';
}

header {
    background-color:black ;
    padding: 38px 50px ;
    margin: -8px;
}

header > h1 {
    color: white;
    font-weight: normal;
    font-family: var(--tit01);
    text-align: center;
    font-size: 6em;
    margin: -10px 0px -8px 0px;
    padding-top: 25px;
}

header > p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: white; 
    text-align: center;
    margin-top: 0px;
}

main{
    background-image: url();
    
}

article {
    padding: 110px 0px 110px 0px;

}

article > p {
    font-family: 'Sriracha' ;
    margin: 0px 0px 0px 30px;
    font-size: 1.5em;
    

}

article.img{
    margin: -10px -10px;
    background-color: rgb(43, 24, 24);
    background-image: url(imagens/background001.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: white;
    font-size: 1.5em;

    
}

article.img2{
    margin: -10px -10px;
    background-color: rgb(43, 24, 24);
    background-image: url(imagens/background002.jpg);
    background-attachment: fixed;
    background-size: cover;
    color: white;
    font-size: 1.5em;
    
}

article.img > p, article.img2 > p {
    background-color: rgba(0, 0, 0, 0.329);
    margin: 0px 0px 0px 25px;
    padding: 0px 0px 3px 15px;
    width: 340px;
    font-size: 1em;


}
a {
    font-weight: bold;
    color: white;
    text-decoration: none;
    
}

a:hover {
    transition: all 1s;
    text-decoration: underline;
    font-style: italic;
    color: aqua;
}

footer{
    margin: -8px;
    padding: 1px;

    background-color: black ;
    color: white;
    text-align: center;

}